@(campo: CampoEntity)(numPozo: String)(datosTemp: String)(datosConsumo: String)(datosCaudal: String)(pozos : List[PozoEntity])(numEmergencias: String)(temperaturaP: String)(caudalP: String)(consumoP: String)(total1: String)(total2: String)(fecha1: String)(fecha2: String)

@main("Campo "+ campo.getId){


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="../regiones">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="../regiones">Region @campo.getRegion.getName</a><i class="icon-angle-right"></i></li>
        <li><a href="#">Campo @campo.getId</a></li>
        <p id ="idCampo" hidden>@campo.getId</p>

    </ul>


        <!--LM Aca comienza el contenido -->
        <!-- LM comienza primera fila -->
    <div class="row-fluid sortable">

        <div class="box span4" style="height:460px;">
            <div class="box-header">
                <h2><i class="halflings-icon tint white font"></i><span class="break"></span>Información campo @campo.getId</h2>
            </div>
            <div class="box-content">
                    <!-- <div class="page-header">
							  <h1>Información <small>Headings, paragraphs, lists, and other inline type elements</small></h1>
						  </div> -->
                <div class="infoCampo" >
                    <p><strong>Total pozos</strong>: @numPozo</p>
                    <p><strong>Numero Emergencias</strong>: @numEmergencias</p>

                        <!-- <ul >
								<li>5 en producción</li>
								<li>2 clausurados</li>
								<li>1 abiertos</li>
								<li>2 parados</li>
							</ul> -->
                    <p>Los siguientes calculos muestran los datos entre las fecha <strong  id="fecha1Fija" data-toggle="modal" href="#dialogoReporte" style="cursor:pointer;">@fecha1</strong> y <strong id="fecha2Fija" data-toggle="modal" href="#dialogoReporte" style="cursor:pointer;">@fecha2 <i class="halflings-icon pencil"></i></strong> </p>
                    <p></p>
                    <p><strong>Temperatura promedio</strong>: @temperaturaP  C</p>
                    <p><strong>Caudal promedio</strong>: @caudalP  Barriles</p>
                    <p><strong>Consumo de energía promedio</strong>: @consumoP  KW</p>

                    <p><strong>Caudal total</strong>: @total1  Barriles</p>
                    <p><strong>Consumo de energía total</strong>: @total2  KW</p>
                </div>


            </div>

        </div>

            <!-- LM Mapa de los pozos de un campo -->
        <div class="box span8">

            <div class="box-header">
                <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Pozos del campo</h2>
                <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                    <a  id="btnCrearPozo" data-toggle="modal" href="#dialogoCrearPozo" ><i class="halflings-icon plus"></i></a>
                </div>

            </div>
            <div class="box-content">

                <div class="center" style="min-height:400px;" >
                    <div id="infoMapaCampo" hidden>@for(pozo <- pozos) {@pozo.getLatitud,@pozo.getLongitud+}</div>
                    <div id="mapaCampo"> </div>
                    <div id="tablaPozos" hidden>
                        <table class="table table-hover table-bordered " >
                            <thead>
                                <tr>
                                    <th >Id Pozo</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(pozo <- pozos) {
                                <tr>
                                    <td><strong ><a href="../pozo/@pozo.getId">@pozo.getId</a></strong></td>
                                    <td class="center">@pozo.getEstado </td>
                                    <td><a class="btn btn-info"  href="#">
                                        <i class="halflings-icon white edit"></i>
                                    </a>
                                        <a class="btn btn-danger" onclick="deletePozoP(@pozo.getId);" href="#">
                                            <i class="halflings-icon white trash"></i>
                                        </a></td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                    <button class="cambiarATabla btn btn-info">Mostrar Tabla</button>
                    <button class="cambiarAMapa btn btn-info">Mostrar Mapa</button>
                </div>

            </div>

        </div><!--/span-->

        <!-- LM termina primera fila -->
    </div>

        <!-- LM comienza segunda fila -->
    <div class="row-fluid sortable">

            <!-- LM Grafica Temperatura -->
        <div class="box span4">

            <div class="box-header">
                <div id="infoTemperatura" hidden>@datosTemp</div>
                <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Temperatura</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="temperatura"  class="center" style="height:250px;" >
                </div>

            </div>

        </div><!--/span-->

        <!-- LM Grafica Caudal -->
        <div class="box span4">

            <div class="box-header">
                <div id="infoCaudal" hidden>@datosCaudal</div>
                <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Caudal</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="caudal"  class="center" style="height:250px;" >
                </div>

            </div>

        </div><!--/span-->


        <!-- LM Grafica Caudal -->
        <div class="box span4">

            <div class="box-header">
                <div id="infoConsumo" hidden>@datosConsumo</div>
                <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Consumo</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div id="consumo"  class="center" style="height:250px;" >
                </div>
                    <!-- <p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span></p> -->
            </div>

        </div><!--/span-->


        <div class="modal fade" id="dialogoCrearPozo" role="dialog">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Agregar Pozo</h2>
                <div class="box-icon">
                    <a href="#" class="btn-close" data-dismiss="modal"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Coordenada de longitud pozo</label>
                            <div class="controls">
                                <input id="LongitudPozoCrear" id="focusedInput" class="input-xlarge focused" type="number" name="LongitudPozoCrear" placeholder="longitud pozo" data-toggle="tooltip" title="longitud">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Coordenada de latitud pozo</label>
                            <div class="controls">
                                <input id="LatitudPozoCrear" class="input-xlarge focused" id="focusedInput" type="number" name="LatitudPozoCrear" placeholder="latitud pozo" data-toggle="tooltip" title="latitud">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="selectError">Seleccionar el estado del pozo</label>
                            <div class="controls">
                                <select id="estadoPozoCrear" data-rel="chosen">
                                    <option >Produccion</option>
                                    <option>Clausurado</option>
                                    <option>Abierto</option>
                                    <option>Parado</option>

                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button  class="btn btn-primary" data-dismiss="modal" onclick="crearPozo()">Crear Pozo</button>
                            <button class="btn" data-dismiss="modal">Cancelar</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div><!-- LM termina segunda fila -->





}
