@(users: List[UsuarioEntity])

<!DOCTYPE html>
<html>
    <head>
        <title>@for(usuario <- users){
            @usuario.getName
        }</title>
    </head>
    <body>

        <h1>This is a Heading</h1>
        <p>This is a paragraph.</p>

        <form action="demo_form_method_post.asp" method="post" target="_blank">
        First name: <input type="text" name="name" value=""><br>
        Last name: <input type="text" name="tipe" value=""><br>
        <input type="submit" value="Submit">
        </form>

    </body>
</html>

