@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(regiones: List[RegionEntity])(numPozos: List[Integer])(consumo : List[Double])(tempPromedio: List[Double])(caudal: List[Double])(pozos : List[PozoEntity])(campos : List[CampoEntity])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Regiones</a></li>

    </ul>

        <!--LM Aca comienza el contenido -->

    <div class="row-fluid sortable ">
        <div class="span6">
            <div class="box span12">
                <div class="box-header">
                    <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Region @regiones.get(0).getName</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div class="span6 infoPozo" >
                        <p><strong>Número de campos</strong>: @regiones.get(0).getCampos.size()</p>
                        <p><strong>Número de pozos</strong>: @numPozos.get(0)</p>
                        <p>Datos para: <strong>07/10/2016</strong> y <strong>23/10/2016</strong></p>
                    </div>
                    <div class="span6">
                        <ul class="skill-bar">
                            <li>
                                <h5>Consumo energetico: @consumo.get(0) KW</h5>

                            </li>
                            <li>
                                <h5>Temperatura promedio: @tempPromedio.get(0) C</h5>

                            </li>
                            <li>
                                <h5>Caudal total: @caudal.get(0) Barriles</h5>

                            </li>

                        </ul>
                    </div>
                </div>
            </div><!--/span-->

                <div class="row-fluid">
                    <div class="box span12">
                        <div class="box-header">
                            <h2><i class="halflings-icon white list-alt"></i> <span class="break"></span>Region @regiones.get(1).getName</h2>
                            <div class="box-icon">
                                <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                                <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                                <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div class="span6 infoPozo" >
                                <p><strong>Número de campos</strong>: @regiones.get(1).getCampos.size()</p>
                                <p><strong>Número de pozos</strong>: @numPozos.get(1)</p>
                                <p>Datos para: <strong>07/10/2016</strong> y <strong>23/10/2016</strong></p>

                            </div>
                            <div class="span6">
                                <ul class="skill-bar">
                                    <li>
                                        <h5>Consumo energetico: @consumo.get(1) KW</h5>

                                    </li>
                                    <li>
                                        <h5>Temperatura promedio: @tempPromedio.get(1) C</h5>

                                    </li>
                                    <li>
                                        <h5>Caudal total: @caudal.get(1) Barriles</h5>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div> <!--/span-->
                </div>

            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white list-alt"></i> <span class="break"></span>Region @regiones.get(2).getName</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="span6 infoPozo" >
                            <p><strong>Número de campos</strong>: @regiones.get(2).getCampos.size()</p>
                            <p><strong>Número de pozos</strong>: @numPozos.get(2)</p>
                            <p>Datos para: <strong>07/10/2016</strong> y <strong>23/10/2016</strong></p>

                        </div>
                        <div class="span6">
                            <ul class="skill-bar">
                                <li>
                                    <h5>Consumo energetico: @consumo.get(2) KW</h5>

                                </li>
                                <li>
                                    <h5>Temperatura promedio: @tempPromedio.get(2) C</h5>

                                </li>
                                <li>
                                    <h5>Caudal total: @caudal.get(2) Barriles</h5>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <!--/span-->
            </div>

            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white list-alt"></i> <span class="break"></span>Region @regiones.get(3).getName</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="span6 infoPozo" >
                            <p><strong>Número de campos</strong>: @regiones.get(3).getCampos.size()</p>
                            <p><strong>Número de pozos</strong>: @numPozos.get(3)</p>
                            <p>Datos para: <strong>07/10/2016</strong> y <strong>23/10/2016</strong></p>

                        </div>
                        <div class="span6">
                            <ul class="skill-bar">
                                <li>
                                    <h5>Consumo energetico: @consumo.get(3) KW</h5>

                                </li>
                                <li>
                                    <h5>Temperatura promedio: @tempPromedio.get(3) C</h5>

                                </li>
                                <li>
                                    <h5>Caudal total: @caudal.get(3) Barriles</h5>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <!--/span-->
            </div>

            <div class="row-fluid">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white list-alt"></i> <span class="break"></span>Region @regiones.get(4).getName</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <div class="span6 infoPozo" >
                            <p><strong>Número de campos</strong>: @regiones.get(4).getCampos.size()</p>
                            <p><strong>Número de pozos</strong>: @numPozos.get(4)</p>
                            <p>Datos para: <strong>07/10/2016</strong> y <strong>23/10/2016</strong></p>

                        </div>
                        <div class="span6">
                            <ul class="skill-bar">
                                <li>
                                    <h5>Consumo energetico: @consumo.get(4) KW</h5>

                                </li>
                                <li>
                                    <h5>Temperatura promedio: @tempPromedio.get(4) C</h5>

                                </li>
                                <li>
                                    <h5>Caudal total: @caudal.get(4) Barriles</h5>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div> <!--/span-->
            </div>


        </div>
        <div class="box span6">

            <div class="box-header">
                <h2><i class="halflings-icon white list-alt"></i><span class="break"></span>Campos</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>

            </div>
            <div class="box-content">

                <div class="center"  >

                    <div id="infoMapaCampo" hidden>@for(pozo <- pozos) {@pozo.getLatitud,@pozo.getLongitud+}</div>
                    <div id="mapaCampo"> </div>

                    <div id="tablaPozos" hidden>
                        <table class="table table-hover table-bordered " >
                            <thead>
                                <tr>
                                    <th >Id Campo</th>
                                    <th>Region</th>
                                    <th>Nombre Campo</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(campo <- campos) {
                                <tr>
                                    <td><strong ><a href="../campo/@campo.getId">@campo.getId</a></strong></td>
                                    <td class="center">@campo.getRegion.getName </td>
                                    <td class="center">@campo.getName </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                    <button class="cambiarATablaRegiones btn btn-info">Mostrar Tabla</button>
                    <button class="cambiarAMapaRegiones btn btn-info">Mostrar Mapa</button>
                </div>
            </div>
        </div>



    </div><!--/row-->




}
